{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <!-- Demo content-->
        <section id="about" class="py-5 section-1">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>A propos</h2>
                        <div class="divider"></div>
                        <p class="text-muted lead pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills" class="py-5 section-2">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Compétences</h2>
                        <div class="divider"></div>
                        <div class="container pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="display-5">Langages</h5>

                                    {% for skill in skills %}

                                    <p>{{ skill.nom }}</p>

                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <h2>Frameworks</h2>

                                    {% for skill in skills %}

                                    <p>{{ skill.framework }}</p>

                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <h2>CMS</h2>

                                    {% for skill in skills %}

                                    <p>{{ skill.cms }}</p>

                                    {% endfor %}
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects" class="py-5 section-3">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Projets</h2>
                        <div class="divider"></div>
                        
                        <p class="text-muted lead pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>

        <section id="contact" class="py-5 section-4">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact</h2>
                        <div class="divider"></div>
                        <!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Contact us</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Subject -->
    <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
    </select>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
