{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <!-- Demo content-->
        <section id="about" class="py-5 section-1">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>A propos</h2>
                        <div class="divider"></div>
                        <p class="text-muted lead pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="skills" class="py-5 section-2">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Compétences</h2>
                        <div class="divider"></div>
                        <div class="container pt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="display-5">Langages</h5>

                                    {% for skill in skills %}

                                    <p>{{ skill.nom }}</p>

                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <h2>Frameworks</h2>

                                    {% for skill in skills %}

                                    <p>{{ skill.framework }}</p>

                                    {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <h2>CMS</h2>

                                    {% for skill in skills %}

                                    <p>{{ skill.cms }}</p>

                                    {% endfor %}
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="projects" class="py-5 section-3">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Projets</h2>
                        <div class="divider"></div>
                        
                        <section id="service" class="headband container-fluid">
             <div class="col-md-12 text-center bg-success text-white">
                <div class="size-headband">
                    <h4 class="pb-2">Services proposés</h4>
                    <div class="divider"></div>
                    <p class="p-3"> diplômés et ayant une carte professionnelle de coach sportif. formation PSC1 (Prévention et secours civique niveau 1)</p>
                    <a href="views/reservation.php" class="bouton1">réservé</a>
                </div>
            </div> 
        </section>
        <section id="service-image">
            <div class="container">
                <div class="row">
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/jogging-2343558_1280.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Cardio-training</h5>
                                    <p class="card-text ">Pour vous faire battre le coeur à cent à l'heure, stimuler votre rythme cardiaque et renforcer tout votre système cardio-vasculaire. Selon votre rythme cardiaque propre, les exercices que vous ferez seront plus ou moins intenses..</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/sport-2250970_1280.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Tonification musculaire</h5>
                                    <p class="card-text">La tonification musculaire est une pratique sportive destinée à augmenter la tonicité d'un muscle, c'est à dire sa résistance et son élasticité.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/kettle-bell-5434989_1280.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Cross-training</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/arm-workout.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Prise de masse</h5>
                                    <p class="card-text">This.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/kettlebell-3290296_1280.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Prépartion physique</h5>
                                    <p class="card-text"> La préparation physique a pour objectif de servir la discipline que vous pratiquez. Elle permettra de développer vos qualités physiques et ainsi d’optimiser vos performances.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="pad-service col-md-4">
                        <a href="views/reservation.php">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="asset/img/training-828732_1280.jpg" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>       
        </section>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="py-5 section-4">
            <div class="container py-5 text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact</h2>
                        <div class="divider"></div>
                        <!-- Default form contact -->
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Contact us</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Subject -->
    <label>Subject</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
    </select>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
    </div>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
<!-- Default form contact -->
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
