{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">
    <div class="example-wrapper text-center">
        <h1> {{ controller_name }}</h1>
        <p>Bienvenue dans votre espace administrateur</p>
    </div>
{% endblock %}
