{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}

    <div class="col-10 p-3">
        <h2>Formulaire</h2>
        {{ form_start(formulaire) }}
        {{ form_end(formulaire) }}
    </div>

{% endblock %}