{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div class="container-fluid">
        <div class="row p-5 bg-light">
            <div class="col-12 text-center">
                <h1>Formulaire de contact</h1>
            </div>
        </div>

        <div class="row p-5">
            <div class="col-4 offset-4">
                {{ form_start(formulaireDeContact) }}



                {{ form_end(formulaireDeContact) }}
            </div>
        </div>
        
    </div>
{% endblock %}
