<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stephen Germain">

        <title>Portfolio - {% block title %}base{% endblock %}</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"> {# asset pour viser le dossier "public" #}

        {% block stylesheets %}{% endblock %}
    </head>

    <body class="animate__animated animate__fadeIn" data-spy="scroll" data-target="#mainNav" data-offset="60">

        <section id="top" class="py-5 header text-center">
            <div class="container py-5 text-white">
                <header class="test py-5">
                    <h1 class="display-4">Stephen GERMAIN</h1>
                    <p class="font-italic mb-1">{% trans %}Développeur Web et Web Mobile{% endtrans %}</p>
                </header>
            </div>
        </section>

        <!-- Sticky navbar-->
        <header class="header sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm id="mainNav"">
                <div class="container"><a class="navbar-brand" href="#top">
                    <strong class="h6 mb-0 font-weight-bold text-uppercase">Portfolio</strong></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="#top">{% trans %}Accueil{% endtrans %} <span class="sr-only">(current)</span></a></li>
                            <li class="test nav-item"><a class="nav-link" href="#about">{% trans %}A propos{% endtrans %}</a></li>
                            <li class="test nav-item"><a class="nav-link" href="#skills">{% trans %}Compétences{% endtrans %}</a></li>
                            <li class="test nav-item"><a class="nav-link" href="#projects">{% trans %}Projets{% endtrans %}</a></li>
                            <li class="test nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}

            <!-- Footer -->
        <footer class="page-footer font-small blue pt-4">

            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">stephen germain</h5>
                        <p>4 allée Alain Bashung</p>
                        <p>91420 Morangis</p>
                        <p>stephen.germain@free.fr</p>
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-3 mb-md-0 mb-3 offset-3">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#about">{% trans %}A propos{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#skills">{% trans %}Compétences{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#projects">{% trans %}Projets{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
  
            <div class="footer-copyright text-center py-3">
                <a href="#top">
                    <svg class="chevronUp" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                    </svg>
                </a>
                <p>© 2020 Copyright Stephen GERMAIN</p>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
