{% extends 'base.html.twig' %}

{% block title %}erreur {% endblock %}

{% block body %}

    <div class="container">
        <div class="row p-5">
            <div class="col-12 text-center">
                <h1>Erreur</h1>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-4 offset-4 text-center">
               <p>Une erreur est survenue lors du chargement de la page. Si le problème persiste, veuillez contacter l'administrateur du site</p>
                <p>Cliquez sur le lien : <a href="{{ path('home') }}">pour retourner sur la page d'accueil</a>.</p>
            </div>
        </div>
    </div>

{% endblock %}